# 依赖目录
node_modules/
.npm-cache/

# 环境变量
.env
.env.local
.env.*.local

# 构建输出
dist/
.output/

# 编辑器目录
.vscode/
.idea/

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 锁定文件
package-lock.json
yarn.lock
pnpm-lock.yaml

# 临时文件
*.swp
*.swo
.temp
.cache 